* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btns {
  display: flex;
  width: 100vw;
  height: 1vh;
  justify-content: center;
  align-items: center;
}

.btn {
  height: fit-content;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 25px;
  background-color: rgb(209, 32, 200);
  color: white;
  font-weight: 500;
  font-size: 0.85rem;
  box-shadow: 4px 4px 4px rgb(179, 178, 216);
  cursor: pointer;
  transition: all 0.5s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 4px 4px 18px gray;

}

.count {
  display: flex;
  justify-content: center;
  height: 20vh;
  align-items: center;
  font-size: 3rem;
}

.users {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}